body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

a,
p,
label,
h3,
h1,
h2,
h4,
h5,
h6,
button,
span:not(.orange),
div {
  color: #eee;
}

sup {
  color: #eee !important;
}

.App {
  background-color: #333;
}

.loader {
  align-items: center;
  background: #333;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 1s linear;
  width: 100%;
  z-index: 9999;
}

.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader h3 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  /* opacity: 0; */
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.Toaster__alert_close {
  padding-top: 5px;
}

.Toaster__alert_close span {
  color: #000 !important;
  height: fit-content;
}

@media (max-width: 680px) {
  #mu-about-us {
    padding: 50px 0;
  }

  #mu-restaurant-menu {
    padding: 60px 0;
  }

  #mu-restaurant-menu
    .mu-restaurant-menu-area
    .mu-restaurant-menu-content
    .mu-restaurant-menu
    li {
    padding-bottom: 25px;
    float: left;
  }
}
